<div id="<%= dom_id inventory_food %>">
  <h3>Food Name:</h3>
  <p><%= inventory_food.food.name %>
  </p>
  <h3>Quantity</h3>
  <p><%= inventory_food.quantity %> :
  </p>
    <p><%= inventory_food.food.measurement_unit %>
  </p>
</div>
